* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.socialMediaContainer {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  nav,
  section {
    /* border: solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

form {
  border: solid;
  height: 80%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  aside {
    width: 80%;
    label {
      display: block;
      font-size: 20px;
      font-weight: 500;
      margin: 10px;
    }
    input,
    button {
      width: 80%;
      border-radius: 20px;
      height: 40px;
      padding-left: 10px;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}
